<html>
	<head>
		<title>Miki universe</title>
	</head>
	<body>
	<h1><a href=""><strong>Kokoromi</strong></a></h1>
        </div>
  <p><strong>Manao ahoana o!</strong></p>
    <p>Tongasoa, welcome, bienvenue</p>
        <div>
            <p>published: 12.11.17, 11:55</p>
            <h2><a href=""><em>My first post</em></a></h2>
            <p>Hey this is my first post.
		</div>
		
		<div>
			<p>published: 12.11.17, 16:00</p>
			<h2><a href=""><em>Thank you</em></a></h2>
			<p>I just want to say thank you.
		</div>
	</body>
</html>